/* ---------- Header ---------- */
.header {
  background-color: #fccc00;
}
.header img {
  height: 40px;
  margin: 14px;
}
/* ---------- Body ---------- */
.tab {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
.tab p {
  font-weight: 600;
}
